# Godot cache / import
.import/
export.cfg
export_presets.cfg
.godot/*
addons/
*.import
*.uid
# Build / export
bin/
build/
export/

# Editor / OS мусор
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# IDE (опционально)
.vscode/
.idea/

# Temp
*.tmp
*.temp